body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

figure {
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background: grey;
}

figcaption {
  font-size: 12px;
}

#featured-property p {
  width: 800px;
  padding-left: 350px; 
}

#details {
  display: block;
  float: left;
}

div {
  background: red;
  text-align: center;
  width: 25%;
}




